@font-face {
    font-family: "Quicksand";
    src: url("fonts/Quicksand-Regular.ttf");
}

* {
    font-family: "Quicksand";
}

.hrbreak1 {
    border-style: solid;
    border-color: silver;
    border-width: 3px;
}