.addnewimg {
    height: 50px;
    background-image: url("resources/addnew.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 50%;
}