.singleproduct {
    padding-top: 65px;
    padding-bottom: 145px;
    background-color: #e5e5e5;
    padding: 20px;
}

.hrbreak1 {
    border-style: solid;
    border-color: silver;
    border-width: 3px;
}

.product_qty {
    width: 105px;
    height: 40px;
    padding-left: 8px;
    padding-bottom: 15px;
    margin-bottom: 11px;
    margin-right: 22px;
}

.qty_buttons {
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    border: solid 1px #e5e5e5;
}

.qty-inc,
.qty-dec {
    width: 100%;
    height: 50%;
    cursor: pointer;
}

.qty-inc {
    padding-bottom: 2px;
    justify-content: flex-end;
    border-top-right-radius: 5px;
}

.qty-dec {
    padding-top: 2px;
    justify-content: flex-end;
    border-bottom-right-radius: 5px;
}