@font-face {
    font-family: "Honey Script";
    src: url("fonts/HoneyScript-Light.ttf");
}

.back {
    background-image: url("resources/background-body.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    height: 100px;
    background-image: url("resources/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.title1 {
    font-family: "Honey Script";
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
}

.title2 {
    font-size: 20px;
    font-weight: bold;
}

.background {
    background-image: url("resources/background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* ////////////////////////// Admin Panel */

.firstplace {
    height: 90px;
    background-image: url("resources/firstplace.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


/* manage users */

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}